PORT=4000
CLIENT_URL=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Neon PostgreSQL
DATABASE_URL=postgresql://user:password@your-neon-host.neon.tech/neondb?sslmode=require
